* {
  box-sizing: border-box;
}

h1{
  font-family: 'Times New Roman', Times, serif;
  font-size: 3.5rem;
  margin-bottom: 0; 
}

h3{
  font-size: 1.5rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.5);
}

body{
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(255, 244, 195);
}

video{
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 0;
}





/*BEIGE PALIDO rgb(255, 239, 169)*/
/* VIDEO COLOR VIOLETA #B697A2*/
